.gallery
    width: 100vw
    display: flex
    flex-wrap: wrap
    gap: 5vh
    padding: 10vh

.image
    height: 35vh
    // filter: drop-shadow(0px 0px 20px #202020)
    border-radius: 1vh
    // position: relative
    // width: 35vh
    // object-fit: contain

.video
    outline: none
